[submodule ".liquidprompt"]
	path = .liquidprompt
	url = https://github.com/theLockesmith/liquidprompt.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/theLockesmith/.tmux.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/theLockesmith/ohmyzsh.git
