[Unit]
Description=gminer at lower intensity for mining while PC is active.
Documentation=https://github.com/develsoftware/GMinerRelease

[Service]
TimeoutStartSec=5
Type=exec
#ExecStart=/opt/gminer/miner --algo kawpow --server stratum+tcp://kawpow.auto.nicehash.com:9200 --user 33HyUyhkdAsbTo1p3eBRCQBAxex6WWgaL7.icebox -i 20 > /opt/gminer/logs/active_miner.log 2>&1
ExecStart=/bin/bash -c '/opt/gminer/miner --algo kawpow --server stratum+tcp://kawpow.auto.nicehash.com:9200 --user 33HyUyhkdAsbTo1p3eBRCQBAxex6WWgaL7.icebox -i 20 > /opt/gminer/logs/active_miner.log 2>&1'
Restart=always
RestartSec=5s
LimitNOFILE=1000000

[Install]
WantedBy=default.target
